/* Controls styling */
.wg-Parent .wg-loc
{
	border-width: 0 ! important;
	background: none ! important;
	width: 35px;
	text-align: right;
	padding: 0;
}

.wg-parent .wg-formula
{
	width: 100%;
	height: 22px;
	font-weight: normal;
	padding: 0;
	outline: none;
	resize: none;
}

.wg-parent .wg-formula-parent
{
	border: none ! important;
	padding: 0;
}

.wg-parent .wg-header, .wg-header table
{
	padding: 0 ! important;
	border: none ! important;
	width: 100%; 
	margin: 0;
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.wg-parent .wg-header img
{
	border: none;
}

/* Menu */
.wg-parent .wg-bar-helper {
	height: 0;
	border: none ! important;
	width: 0;
}
.wg-parent .wg-bar-top-menu-button {
	width: inherit ! important;
	height: 0 ! important;
	float: right;
	margin-right: 30px;
}
.wg-Parent .wg-BarTopMenuButton * {
	position: absolute;
	height: 16px ! important;
	width: 18px ! important;
	background-color: inherit ! important;
}

.wg-parent .wg-menu-fixed {
	position: relative ! important;
}

.wg-td-menu {
	padding: 3px;
	background-image: none ! important;
	border-width: 1px;
	position: absolute;
	z-index: 1001;
	min-width: 200px;
	font-size: smaller;
	font-weight: normal ! important;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.wg-td-menu div
{
	border-width: 0 ! important;
    cursor: pointer;
}
.wg-td-menu hr
{
	margin: 0;
}
.wg-menu {
	padding: 3px;
	background-image: none ! important;
	border: none ! important;
	position: absolute;
	z-index: 1001;
}
.wg-menu *
{
	border-color: inherit ! important;
	border-width: 1px;
	text-decoration: none ! important;
	width: auto;
}

.wg-menu ul,.wg-menu div
{
	cursor: pointer;
	padding: 0 ! important;
	margin: 0 ! important;
	border: none ! important;
	z-index: 1001;
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	list-style-position:outside;
}

.wg-menu a
{
	padding:0px 5px;
}

.wg-menu li
{
	float:left;
	position:relative;
	border: none;
	background-image: none;
	border-width: 1px;
	width: inherit;
}
.wg-menu li:hover,.wg-menu div:hover .wg-td-menu div:hover {
	background-image: inherit;
}

.wg-menu ul ul {
	position:absolute;
	display:none;
	width:12em;
	top:1.5em;
}

.wg-menu li ul a{
	width:12em;
	height:auto;
	float:left;
}

.wg-menu ul ul{
	top:auto;
}

.wg-menu li ul ul {
	left:12em;
	margin:0px 0 0 10px;
}

.wg-menu li:hover ul ul, .wg-menu li:hover ul ul ul, .wg-menu li:hover ul ul ul ul{
	display:none;
}
.wg-menu li:hover ul, .wg-menu li li:hover ul, .wg-menu li li li:hover ul, .wg-menu li li li li:hover ul{
	display:block;
}

#global-zeroclipboard-html-bridge {
	opacity:0.01;
	filter:alpha(opacity=1);
}

.wg-parent .wg-ui
{
	width: inherit ! important;
	border-color: inherit ! important;
}
.wg-parent .wg-tab-container
{
	overflow-x: hidden;
	height: 21px;
	display: inline-block;
	position: absolute;
	margin-left: 19px;
}
.wg-parent .wg-tab-container-scrollable {
	overflow-x: auto;
}
.wg-parent .wg-tab-container span
{
	border-width: 0 1px 0 1px;
	padding: 2px 5px 2px 5px ! important;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 0;
	height: 22px;
}
.wg-parent .wg-sheet-adder {
	border-width: 0 1px 0 0;
	display: block;
	position: absolute;
	text-align: center;
	width: 18px;
	height: 20px;
	border-bottom-left-radius: inherit;
}
.wg-parent .wg-tab {
	cursor: pointer;
}
.wg-parent .wg-tab-container *, .div *
{
	font-size: 1em;
}

.wg-parent .wg-scroll {
	position: absolute;
	overflow: scroll;
	height: inherit;
	width: inherit;
}
.wg-parent .wg-scroll > div {
	min-height: 1000%;
	min-width: 500%;
	height: 1000%;
	width: 500%;
	-webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
	transition: 0.2s;
}
/* Sheet styling */
.wg-parent .wg
{
	left: 0;
	top: 0;
	position: absolute;
    table-layout: fixed;
    empty-cells: show;
	background-image: none ! important;
	border-color: inherit ! important;
	border-width: 1px 1px 0 0 ! important;
	cursor: cell;
	width: 0 ! important;
}
.wg-parent .wg tbody
{
	background-color: transparent;
	color: inherit ! important;
	border-color: inherit ! important;
}

.wg-parent .wg colgroup {
	border-color: inherit ! important;
}
.wg-parent .wg col {
	background-image: none ! important;
	border-color: inherit ! important;
}

.wg-parent .wg tr {
	border-color: inherit ! important;
	color:  inherit ! important;
	background-image: none ! important;
}
.wg-parent .wg td, .wg-parent .wg th {
	height: inherit;
	border-width: 0 0 1px 1px;
	border-color: inherit;
	padding: 0 ! important;
	border-style: solid ! important;
	margin: 0 ! important;
	font-size: 1em;
	background-image: none ! important;
	-moz-border-radius: 0 0 1px 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
}
.wg-parent .wg td.wg-merged {
	position: absolute;
	visibility: hidden;
}

.wg-parent .wg th.wg-bar-corner {
	border-width: 0 0 1px 0;
}

.wg-parent .wg- th.wg-bar-left {
	border-width: 0 0 1px 0;
}

.wg-parent .wg- th.wg-bar-top {
	border-width: 0 0 1px 1px;
	text-align: center;
}

.wg-parent .wg-cell-highighted {
	background-image: none ! important;
}

.wg-parent .wg-error {
	text-align: left;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

/* Containers styleing*/
.wg-parent th
{
	cursor: pointer;
}

.wg-parent .wg-edit-pane
{
	overflow: hidden;
	background-image: none ! important;
	border-width: 0 ! important;
	position: absolute ! important;
	padding: 0;
	margin: 0;
	border-radius: 0 !important;
}

.wg-parent .wg-enclosure {
	border-width: 0 ! important;
	position: absolute;
}
/* Bar item styling */

.wg-parent .wg-bar-controller {
	border: none ! important;
	position: absolute ! important;
}
.wg-parent .wg-bar-top-parent .wg-bar-controller {
	height: 0 !important;
	max-height: 0 !important;
}
.wg-parent .wg-bar-top-parent .wg-bar-controller .ui-resizable-handle {
	width: 10px;
	top: -1px !important;
	right: -6px;
	border-top-width: 0;
	border-bottom-width: 0;
}

.wg-parent .wg-bar-left {
	border-left-width: 0 ! important;
}
.wg-parent .wg-bar-left .wg-bar-controller {
	height: 0;
	position: absolute;
}
.wg-parent .wg-bar-left .wg-bar-controller .ui-resizable-handle {
	display: inline ! important;
	height: 10px;
	border: none ! important;
	padding-left:1px;
}

.wg-parent .wg-bar-controller .ui-resizable-handle {
	border-width: 0;
}

.wg-parent .wg-BarController .ui-resizable-handle:hover {
	background: inherit;
}

.wg-parent .wg-bar-controller-child {
	background: inherit;
	top: 3px ! important;
	left: 0;
}

.wg-parent .wg-bar-controller-child .ui-resizable-handle {
	border-left-width: 1px;
	border-right-width: 1px;
}

.wg-parent .wg-bar-handle-freeze-top
{
	top: 1px;
	cursor: move ! important;
	width: 10px;
	position: absolute;
	background-image: none ! important;
}

.wg-parent .wg-bar-handle-freeze-left
{
	left: 0;
	cursor: move ! important;
	height: 10px;
	position: absolute;
	background-image: none ! important;
}
.wg-parent .wg-bar-left
{
	text-align: center;
	vertical-align: middle ! important;
	cursor: pointer ! important;
	overflow: visible ! important;
}

.wg-in-place-edit
{
	position: absolute;
	background-image: none ! important;
}

.color-pickers *
{
	display: inline-block;
	background-color: transparent ! important;
	background-image: none ! important;
}

.wg-full-screen
{
	top: 0;
	left: 0;
	position: fixed;
	top: expression(eval(document.body.scrollTop) + "px");
	left: expression(eval(document.body.scrollLeft) + "px");
}

.wg-fullScreen > .ui-resizable-handle {
	display: none;
}

.wg-parent .wg-auto-filler
{
	position: absolute;
	height: 8px;
	width: 8px;
	top: 0;
	left: 0;
	cursor: crosshair ! important;
	display: none;
}

.wg-parent .wg-title
{
	width: auto;
	text-align: left;
	border: none ! important;
	margin: 0 !important;
	padding: 10px;
}

body > .wg-chart {
	opacity: 0.01;
	position: absolute;
	top: -9000px;
	left: -9000px;
}

.wg-parent .wg-chart
{
	width: inherit;
	height: inherit;
}

.wg-parent .wg-chart svg {
	position: relative ! important;
}

.wg-parent .wg-dropdown {
	cursor: pointer;
	width: 100%;
}
.wg-parent .wg-checkbox, .wg-checkbox * {
	cursor: pointer;
}
.wg-parent .wg-radio, .wg-radio * {
	cursor: pointer;
}
.wg-parent .wg-dropdown {
	background-color: transparent;
	border: none;
	height: inherit;
	width: inherit;
	margin-right: -30px;
	-webkit-appearance: none;
	-moz-appearance: window;
	padding-right: 30px;
}

.wg-hide {
	display: none ! important;
}

.body-no-scroll
{
	overflow: hidden ! important;
}

/* Cell styler classes */
.style-bold
{ font-weight: bold; }
.style-italics
{ font-style: italic; }
.style-underline
{ text-decoration: underline; }
.style-line-through
{ text-decoration: line-through;}
.style-left
{ text-align: left; }
.style-right
{ text-align: right; }
.style-center
{ text-align: center; }
.style-top
{ vertical-align: top; }
.style-middle
{ vertical-align: middle; }
.style-bottom
{ vertical-align: bottom; }
.style-upper
{ text-transform: uppercase; }
.style-capital
{ text-transform: capitalize; }
.style-lower
{ text-transform: lowercase; }
.style-hidden
{ display: none; }
.style-wrap
{
	white-space: pre-wrap ! important;       /* css-3 */
	white-space: -moz-pre-wrap ! important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap ! important;      /* Opera 4-6 */
	white-space: -o-pre-wrap ! important;    /* Opera 7 */
	word-wrap: break-word;
	-ms-text-overflow: clip;
}